<footer class="footer">
    <!---->

  <div class="content-paragraph" style="text-align: center">
      <div style="padding-bottom: 10px">© {{ $.Site.Copyright | safeHTML }}</div>
      <div class="color-footer-body" style="text-decoration: none">
          The website's source code and its Apache2 license is hosted
        online at <a style="text-decoration: none" href="https://github.com/fkautz/zt.dev">github.com/fkautz/zt.dev</a>.
      </div>
      <div class="color-footer-body" style="text-decoration: none">
        Special thank you to <a href="nivenly.com">Kris Nóva</a> for letting me use her amazing theme!
      </div>
      <div class="color-footer-body" style="text-decoration: none">
        By using this website you agree to never use these tools for any illegal or malicious activity, and to adhere to ethical and responsible disclosure and practice.
        The owner, operators, and authors of this website accepts no responsibility for the usage of these tools in any way.
      </div>
  </div>
</footer>

